<script type="text/javascript">
    $(document).ready(function() {
        $("#search-tags").tagit({
            availableTags: ["apartments", "bikes", "for sale", "free", "williamsburg", "upper-west-side", "pool"],
            singleField: true,
            singleFieldNode: $('#mySingleField'),
            removeConfirmation: true
        });
    });
</script>
<%= form_for :q, :url => search_listings_path,
                        :html => {:method => :post, :class => "form-wrapper"} do |f| %>
  <%= f.text_field :name,  :id => "search", :placeholder => "Search" %>
  
  <%= f.submit "SEARCH", { :id => "submit"} %>
  <% if @zip %>
    <%= f.text_field :zip, :id => "search-zip", :value => @zip %>
  <% else %>
    <%= f.text_field :zip, :id => "search-zip", :placeholder => "Zip" %>
  <% end %>
  <input name="tags" id="mySingleField" value="" type="hidden">
  <input name="tags" id="mySingleField" value="" type="hidden">
  <ul class="tagit" id="search-tags">
  </ul>
<% end %>
<div class="container">
  <div class="row listings">
    <% @listings.each do |listing| %>
      <%= link_to listing do %>
        <div class="span4 listing">
          <div>
            <h3><%= truncate(listing.name, length: 15).upcase %></h3><br>
            <%= truncate(listing.body, length: 48) %><br>
            <%= listing.zip %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>