<%= search_form_for @q, :url => search_listings_path,
                        :html => {:method => :post, :class => "form-wrapper"} do |f| %>
  <%= f.text_field :name_cont,  :id => "search", :placeholder => "Search" %>
  
  <%= f.submit nil, { :id => "submit"} %>
  <% if @zip %>
    <%= f.text_field :zip, :id => "search-zip", :value => @zip %>
  <% else %>
    <%= f.text_field :zip, :id => "search-zip", :placeholder => "Zip" %>
  <% end %>
<% end %>
<div class="container">
  <div class="row listings">
    <% @listings.each do |listing| %>
      <div class="span4 listing">
        <div>
          <h3><%= listing.name %></h3><br>
          <%= listing.body %><br>
          <%= listing.zip %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>