<script type="text/javascript">
    $(document).ready(function() {
        $("#search-tags").tagit({
            availableTags: ["apartments", "bikes", "for-sale", "free", "williamsburg", "upper-west-side", "pool"],
            singleField: true,
            singleFieldNode: $('#mySingleField'),
            removeConfirmation: true
        });
    });
</script>
<div class="centered header">
  <h1><em>finna be local!</em></h1>
</div>
<div class="subline" align="center">
  <h4>Keeping your search for apartments, furniture, and jobs local.</h4>
</div>
<div class="centered search-bar">
  <%= form_for :q, :url => search_listings_path,
                          :html => {:method => :post, :class => "form-wrapper"} do |f| %>
    <%= f.text_field :name,  :id => "search", :placeholder => "Search" %>
    <%= f.text_field :zip, :id => "search-zip", :placeholder => "Zip" %>
    <%= f.submit "SEARCH", { :id => "submit"} %><br/>
    <input name="tags" id="mySingleField" value="" type="hidden">
    <ul class="tagit" id="search-tags">
    </ul>
    </div>
  <% end %>
</div>
<div align="center">
  <%= link_to new_listing_path, class: "new-listing-link-text" do %>
      <div class="new-listing-link">
        LIST A NEW ITEM
      </div>
    <% end %>
</div>
<br><br>